body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#0000FF, #EEF908);


}
.jumbotron{
    background-color: #ef9c0d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    
}